<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'home' %}">Main Page</a>
      </nav>
    </header>
    <main>
      <div>
        <h1>Login!</h1>
        <form method="post">
          {% csrf_token %}
          {{ login_form.as_p }}
          <button>Login</button>
        </form>
      </div>
    </main>
  </body>
</html>
