<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for item in account %}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.number}}</td>
        <td>{{item.receipts.count}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>
