<!DOCTYPE html>
<html>
  <head>
    <title>

    </title>
  </head>
  <body>
    <main>
      <div>
        <h1>Create Category</h1>
        <form method="post">
          {% csrf_token %}
          {{create_category_form.as_p}}
          <button>Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
